h1{
    text-align: center;
    background-color: rgb(7, 249, 7);
    color: #000; 
}

table{
    color: blue;
    margin-left: 450px;

}

select{
    width: 168px;
    height: 22px;
}
button{
    width: 100px;
    background-color: deeppink;
    color: black;
}
body{
    background-color: floralwhite;
}