h1{
    text-align: center;
    background-color: red;
}
div{
    text-align: center;
    padding-top: 50px;
}
body{
    background-color: rgb(249, 198, 248);
}
button{
    width: 120px;
    background-color: blue;
}